{% extends "base.html" %}

{% block header %}
Game Details
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ game.name }}</td>
        </tr>
        <tr>
            <td>Gamesystems:</td>
            <td>
                {% for gamesystem in game.gamesystems.all %}
                    {{ gamesystem.name }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Played:</td>
            <td>{{ game.played }}</td>
        </tr>
        <tr>
            <td>Finished:</td>
            <td>{{ game.finished }}</td>
        </tr>
        <tr>
            <td>Inserted into collection</td>
            <td>{{ game.pub_date }}</td>
        </tr>
    </table>
{% endblock %}
