{% extends "base.html" %}

{% block header %}
Game Details
{% endblock %}

{% block content %}
    <table>
        <tr>
            <td>Name:</td>
            <td>{{ game.name }}</td>
        </tr>
        <tr>
            <td>Gamesystems:</td>
            <td>
                {% for gamesystem in game.gamesystems.all %}
                    {{ gamesystem.name }}<br/>
                {% endfor %}
            </td>
        </tr>
        <tr>
            <td>Played{% if game.played %} first{% endif %}:</td>
            {% if game.played %}
              <td>{{ game.started_date }}</td>
            {% else %}
              <td>{{ game.played }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>Finished:</td>
            {% if game.finished %}
              <td>{{ game.finished_date }}</td>
            {% else %}
              <td>{{ game.finished }}</td>
            {% endif %}
        </tr>
        <tr>
            <td>Inserted into collection</td>
            <td>{{ game.created_date }}</td>
        </tr>        
        <tr>
            <td>Download Only</td>
            <td>{{ game.download_only }}</td>
        </tr>
    </table>
{% endblock %}
