{% extends "base.html" %}
{% load static %}

{% block header %}
Games
{% endblock %}

{% block content %}
    {% if not games %}
    <p>No games matched the search string.</p>
    {% else %}
    <table>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Gamesystems</th>
            <th>Played</th>
            <th>Finished</th>  
            <th>Download Only</th>          
        </tr>
      {% for game in games %}
        <tr>
            <td><a href="{% url 'detail' game.id %}"><img src="{% static 'img/magnifier.png' %}"" alt='view'/></a></td>
            <td>{{ game.name }}</td>
            <td>
                {% for gamesystem in game.gamesystems.all %}
                    <a href="{% url 'gamesystem_detail' gamesystem.id %}">{{ gamesystem.name }}</a><br/>
                {% endfor %}
            </td>
            <td>{{ game.played }}</td>
            <td>{{ game.finished }}</td>
            <td>{{ game.download }}</td>
        </tr>
        {% endfor %}
    </table>    

    {% if games.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if games.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ games.previous_page_number }}">previous</a>
        {% endif %}

        Page {{ games.number }} of {{ games.paginator.num_pages }}.

        {% if games.has_next %}
            <a href="?page={{ games.next_page_number }}">next</a>
            <a href="?page={{ games.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
    {% endif %}
    {% endif %}
{% endblock %}
