{% extends "base.html" %}

{% block header %}
Gamesystem Details for {{ gamesystem.name }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Played</th>
            <th>Finished</th>            
        </tr>

        {% for game in games %}
        <tr>
            <td><a href="{% url 'detail' game.id %}">View</a></td>
            <td>{{ game.name }}</td>
            <td>{{ game.played }}</td>
            <td>{{ game.finished }}</td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
