{% extends "base.html" %}

{% block header %}
Gamesystem Details for {{ gamesystem.name }}
{% endblock %}

{% block content %}
    <table>
        <tr>
            <th>Action</th>
            <th>Name</th>
            <th>Played</th>
            <th>Finished</th>            
        </tr>

        {% for game in games %}
        <tr>
            <td><a href="{% url 'detail' game.id %}">View</a></td>
            <td>{{ game.name }}</td>
            <td>{{ game.played }}</td>
            <td>{{ game.finished }}</td>
        </tr>
        {% endfor %}
    </table>

    {% if games.paginator.num_pages > 1 %}
    <div class="pagination">
        {% if games.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ games.previous_page_number }}">previous</a>
        {% endif %}

        Page {{ games.number }} of {{ games.paginator.num_pages }}.

        {% if games.has_next %}
            <a href="?page={{ games.next_page_number }}">next</a>
            <a href="?page={{ games.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </div>
    {% endif %}

{% endblock %}
