{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Py Game Collection</title>
  </head> 

  <body>
    <header>
      {% block header %}{% endblock %}
    </header>

    <nav>
      <a href="{% url "index" %}">All Games</a> |
      <a href="{% url "games_unplayed" %}">Unplayed Games</a> |
      <a href="{% url "games_unfinished" %}">Unfinished Games</a> |
      <a href="{% url "gamesystems" %}">Gamesystems</a> 
    </nav>

    <div class="search">
      <form action="{% url "search" %}" method="post">
          {% csrf_token %}
          <input type="text" name="search_string"/>
          <input type="submit" value="Search"/>
      </form>
    </div>

    <main>
      {% block content %}{% endblock %}
    </main>

<!--
    <footer>Dies ist die Fussnote</footer>
-->
  </body>
</html>
